@import "tailwindcss";

body {
    font-family: "Outfit", sans-serif;
    color: #727171;
}

.font-highlight {
    font-family: "Caveat", cursive;
}

.font-heading {
    font-family: "Raleway", sans-serif;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button {
    cursor: pointer
}

/* Pulse Line Animation */
.pulse-line {
    animation: pulseLine .9s ease-in-out infinite;
    transform-origin: center;
}

@keyframes pulseLine {
    0% {
        opacity: 0.5;
        transform: scaleX(1);
    }

    50% {
        opacity: 1;
        transform: scaleX(1.35);
    }

    100% {
        opacity: 0.5;
        transform: scaleX(1);
    }
}